<div class="flex flex-col w-full p-4 gap-8">
  <div class="flex">
    <%= component 'button', text: 'New article', type: :button, url: new_admin_article_path %>
  </div>
  <div class="flex w-full">
    <%= component 'table', data: @articles do |table| %>
      <%= table.column('Id', 60) { |article| article.id.to_s }%>
      <%= table.column('Title') { |article| article.title[0..50] }%>
      <%= table.column('Description') { |article| article.description[0..50] } %>
      <%= table.column('Created at', 200) do |article| %>
        <%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <% end %>
      <%= table.column('Actions', 180) do |article| %>
        <div class="flex items-center gap-4">
          <%= component 'button', text: 'Edit', type: :warning, url: edit_admin_article_path(article) %>
          <%= component 'button', text: 'Delete', type: :danger, url: "/admin/articles/#{article.id}", method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>