<div class="flex flex-col p-4 rounded-lg border border-solid border-purple-500 shadow-purple-500 shadow-xl">
  <%= form_with url: '/admin/login',
                data: { controller: 'login_form--component' },
                method: :post,
                class: classes do |form|
  %>
    <%= form.label :login %>
    <%= form.text_field :login %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit 'Login' %>
  <% end %>
</div>
